@if (activeRecords().length > 0) {
  <div class="row">
    @for (record of activeRecords(); track record.workout_type) {
      <div class="col-lg-6 mb-3">
        <div class="card shadow-sm">
          <div class="card-header">
            @let sport = record.workout_type | translate;
            <h5 class="mb-0">{{ 'Records for {{sport}}' | translate:{sport} }}</h5>
          </div>
          <div class="card-body">
            <table class="table table-sm">
              <tbody>
                @if (record.average_speed) {
                  <tr>
                    <td>{{ 'Average speed' | translate }}</td>
                    <td class="text-end">
                      <strong>{{
                        record.average_speed.value | formatSpeed: record.workout_type
                      }}</strong>
                    </td>
                    <td class="text-end text-muted">
                      <a [routerLink]="['/workouts', record.average_speed.workout_id]">
                        {{ record.average_speed.date | formatDate }}
                      </a>
                    </td>
                  </tr>
                }
                @if (record.average_speed_no_pause) {
                  <tr>
                    <td>{{ 'Average (no pause)' | translate }}</td>
                    <td class="text-end">
                      <strong>{{
                        record.average_speed_no_pause.value | formatSpeed: record.workout_type
                      }}</strong>
                    </td>
                    <td class="text-end text-muted">
                      <a [routerLink]="['/workouts', record.average_speed_no_pause.workout_id]">
                        {{ record.average_speed_no_pause.date | formatDate }}
                      </a>
                    </td>
                  </tr>
                }
                @if (record.max_speed) {
                  <tr>
                    <td>{{ 'Max speed' | translate }}</td>
                    <td class="text-end">
                      <strong>{{
                        record.max_speed.value | formatSpeed: record.workout_type
                      }}</strong>
                    </td>
                    <td class="text-end text-muted">
                      <a [routerLink]="['/workouts', record.max_speed.workout_id]">
                        {{ record.max_speed.date | formatDate }}
                      </a>
                    </td>
                  </tr>
                }
                @if (record.distance) {
                  <tr>
                    <td>{{ 'Distance' | translate }}</td>
                    <td class="text-end">
                      <strong>{{ record.distance.value | formatDistance }}</strong>
                    </td>
                    <td class="text-end text-muted">
                      <a [routerLink]="['/workouts', record.distance.workout_id]">
                        {{ record.distance.date | formatDate }}
                      </a>
                    </td>
                  </tr>
                }
                @if (record.total_up) {
                  <tr>
                    <td>{{ 'Elevation' | translate }}</td>
                    <td class="text-end">
                      <strong>{{ record.total_up.value | formatElevation }}</strong>
                    </td>
                    <td class="text-end text-muted">
                      <a [routerLink]="['/workouts', record.total_up.workout_id]">
                        {{ record.total_up.date | formatDate }}
                      </a>
                    </td>
                  </tr>
                }
                @if (record.duration) {
                  <tr>
                    <td>{{ 'Duration' | translate }}</td>
                    <td class="text-end">
                      <strong>{{ record.duration.value | formatDuration }}</strong>
                    </td>
                    <td class="text-end text-muted">
                      <a [routerLink]="['/workouts', record.duration.workout_id]">
                        {{ record.duration.date | formatDate }}
                      </a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    }
  </div>
}
