<div class="small">
  <div class="mb-2">
    <a class="fw-semibold text-decoration-none" [routerLink]="['/workouts', data().id]">
      {{ data().name || '(no name)' }}
    </a>
  </div>

  <div class="d-flex align-items-center gap-2 mb-1">
    <app-icon name="date" />
    <span>{{ data().date }}</span>
  </div>

  <div class="d-flex align-items-center gap-2 mb-1">
    <app-icon name="workout" />
    <span>
      @if (data().custom_type) {
        <i>{{ data().custom_type }}</i>
      } @else {
        {{ formatWorkoutType() }}
      }
    </span>
  </div>

  @if (data().total_repetitions !== undefined && data().total_repetitions !== null) {
    <div class="d-flex align-items-center gap-2 mb-1">
      <app-icon name="repetitions" />
      <span class="font-monospace">{{ data().total_repetitions }}</span>
    </div>
    @if (
      data().repetition_frequency_per_min !== undefined &&
      data().repetition_frequency_per_min !== null
    ) {
      <div class="d-flex align-items-center gap-2 mb-1">
        <app-icon name="tempo" />
        <span class="font-monospace">{{ data().repetition_frequency_per_min!.toFixed(1) }}</span>
      </div>
    }
  }

  @if (data().total_weight !== undefined && data().total_weight !== null) {
    <div class="d-flex align-items-center gap-2 mb-1">
      <app-icon name="weight" />
      <span class="font-monospace">{{ formatWeight() }} {{ weightUnit() }}</span>
    </div>
  }

  @if (data().total_duration !== undefined && data().total_duration !== null) {
    <div class="d-flex align-items-center gap-2 mb-1">
      <app-icon name="duration" />
      <span class="font-monospace">
        @if (data().locked) {
          <app-icon name="locked" />
        }
        {{ formatDuration() }}
      </span>
    </div>
  }

  @if (data().total_distance !== undefined && data().total_distance !== null) {
    <div class="d-flex align-items-center gap-2 mb-1">
      <app-icon name="distance" />
      <span class="font-monospace">
        @if (data().locked) {
          <app-icon name="locked" />
        }
        {{ formatDistance() }} {{ distanceUnit() }}
      </span>
    </div>
  }

  @if (data().average_speed !== undefined && data().average_speed !== null) {
    <div class="d-flex align-items-center gap-2">
      <app-icon name="speed" />
      <span class="font-monospace">{{ formatSpeed() }} {{ speedUnit() }}</span>
    </div>
  }
</div>
