<div class="table-responsive">
  <table class="table table-sm table-hover align-middle route-matches-table">
    <thead>
      <tr>
        <th>{{ 'route segment' | translate }}</th>
        <th class="text-end">{{ 'Distance' | translate }}</th>
        <th class="text-end">{{ 'Time' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (match of matches(); track match.route_segment_id) {
        <tr
          class="interval-row"
          [class.table-active]="isSelected(match)"
          (click)="selectMatch(match)"
        >
          <td>
            @if (viewMode()) {
              <span class="segment-link">{{ match.route_segment.name }}</span>
            } @else {
              <a
                class="segment-link"
                [routerLink]="['/route-segments', match.route_segment_id]"
                (click)="$event.stopPropagation()"
              >
                {{ match.route_segment.name }}
              </a>
            }
          </td>
          <td class="text-end font-monospace">{{ formatDistance(match.distance) }} km</td>
          <td class="text-end font-monospace">
            {{ formatDuration(match.duration) }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
