@if (totals().length > 0) {
  <ul #nav="ngbNav" class="nav-tabs" ngbNav>
    @for (total of totals(); track total.workout_type) {
      <li ngbNavItem>
        <button ngbNavLink>{{ total.workout_type | translate }}</button>
        <ng-template ngbNavContent>
          <div class="row g-4">
            <div class="col-6">
              <div class="card text-center shadow-sm h-100">
                <div class="card-body d-flex flex-column">
                  <div class="mb-3">
                    <app-icon class="text-primary" name="workout" size="48" />
                  </div>
                  <h5 class="card-title text-muted">{{ 'Workouts' | translate }}</h5>
                  <p class="display-4 mb-0 mt-auto">{{ total.workouts }}</p>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="card text-center shadow-sm h-100">
                <div class="card-body d-flex flex-column">
                  <div class="mb-3">
                    <app-icon class="text-success" name="distance" size="48" />
                  </div>
                  <h5 class="card-title text-muted">{{ 'Distance' | translate }}</h5>
                  <p class="display-4 mb-0 mt-auto">{{ total.distance | formatDistance }}</p>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="card text-center shadow-sm h-100">
                <div class="card-body d-flex flex-column">
                  <div class="mb-3">
                    <app-icon class="text-info" name="duration" size="48" />
                  </div>
                  <h5 class="card-title text-muted">{{ 'Duration' | translate }}</h5>
                  <p class="display-4 mb-0 mt-auto">{{ total.duration | formatDuration }}</p>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="card text-center shadow-sm h-100">
                <div class="card-body d-flex flex-column">
                  <div class="mb-3">
                    <app-icon class="text-warning" name="elevation" size="48" />
                  </div>
                  <h5 class="card-title text-muted">{{ 'Elevation' | translate }}</h5>
                  <p class="display-4 mb-0 mt-auto">{{ total.up | formatElevation }}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    }
  </ul>
  <div [ngbNavOutlet]="nav"></div>
}
